* {
    box-sizing: border-box;
}

#container {
    border: solid 1.5px #C0C0C0;
    width: 385px;
    padding: 1em 10px;
    box-shadow: 5px 10px 10px 5px #ccc;
    font-family: arial;
}

#interesting-fact {
    font-style: italic;
}

img {
    width: 100%;
    padding: 2px 5px 10px 5px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

#facts span {
    font-weight: bold;
}

.animal-info {
    border: solid 1.5px #C0C0C0;
    width: 350px;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    padding-left: 5px;
    margin-bottom: 10px;
}
